* {
    box-sizing: border-box;
}

html, body {
    background-color: #020;
    color: greenyellow;
    font-family: monospace;
    font-size: large;
}

.panel {
    border: solid 3px greenyellow;
    padding: 1rem;
    border-radius: 3px;
}